<nav class="navbar bg-body-tertiary navbar-expand-lg" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('home.index') }}">Mon Site</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                {% if is_granted('ROLE_USER') %}
                    <a href="{{ path('app_logout') }}">se deconnecter</a>
{#                    <a href="{{ path('app_profile') }}">{{ app.user.email }}</a>#}
                    <a href="">{{ app.user.email }}</a>
                 {% else %}
                <li class="nav-item">
                    <a class="nav-link {{ app.current_route == 'register' ? 'active' : '' }}" href="{{ path('register') }}">S'inscrire</a>
                    <a class="nav-link {{ app.current_route == 'app_login' ? 'active': '' }}" href="{{ path('app_login') }}">Se connecter</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>