<nav class="navbar bg-body-tertiary navbar-expand-lg" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('home.index') }}">Mon Site</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <li>
                        <a class="nav-link" href="{{ path('super-admin.index') }}">Super Admin</a>
                    </li>
                    <li>
                        <a class="nav-link" href="{{ path('profil.index') }}">Mon Profil</a>
                    </li>
                    <li>
                        <a class="nav-link" href="{{ path('admin.voiture.index') }}">Voitures</a>
                    </li>
                    <li>
                        <a class="nav-link" href="{{ path('app_marque_index') }}">Marque</a>
                    </li>
                    <li>
                        <a class="nav-link" href="{{ path('app_composant_index') }}">Composant</a>
                    </li>
                    <li>
                        <a class="nav-link" href="{{ path('super-admin.archive.voiture') }}">Archive Voiture</a>
                    </li>
                    <li>
                        <a class="nav-link" href="{{ path('super-admin.archive.marque') }}">Archive Marque</a>
                    </li>
                    <li>
                        <a class="nav-link" href="{{ path('app_admin') }}">Admin</a>
                    </li>
                {% elseif is_granted('ROLE_ADMIN') %}
                    <li>
                        <a class="nav-link" href="{{ path('app_admin') }}">Admin</a>
                    </li>
                    <li>
                        <a class="nav-link" href="{{ path('profil.index') }}">Mon Profil</a>
                    </li>
                    <a class="nav-link" href="{{ path('admin.voiture.index') }}">Voitures</a>

                    <li>
                        <a class="nav-link" href="{{ path('app_marque_index') }}">Marque</a>
                    </li>
                    <li>
                        <a class="nav-link" href="{{ path('app_composant_index') }}">Composant</a>
                    </li>
                {% elseif is_granted('ROLE_UTILISATEUR') %}
                    <li>
                        <a class="nav-link" href="{{ path('user.voiture.index') }}">Liste des voitures</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link {{ app.current_route == 'register' ? 'active' : '' }}" href="{{ path('register') }}">S'inscrire</a>
                        <a class="nav-link {{ app.current_route == 'app_login' ? 'active' : '' }}" href="{{ path('app_login') }}">Se connecter</a>
                    </li>
                {% endif %}

                {% if app.user %}
                    <li>
                        <a class="nav-link" href="{{ path('profil.index') }}">{{ app.user.email }}</a>
                    </li>
                    <li>
                        <a class="nav-link" href="{{ path('app_logout') }}">Se déconnecter</a>
                    </li>
                {% endif %}
            </ul>
            </ul>
        </div>
    </div>
</nav>
